# App
APP_NAME='Nest Starter'
APP_PORT=3600
TZ=UTC
NODE_ENV=local
FRONTEND_URL=http://localhost:3000

# Database
DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=secret
DB_CONNECTION=postgres
DB_DATABASE=nest-starter
DB_SCHEMA=public

# Redis
REDIS_URL=redis://redis:6379

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=30d
JWT_REFRESH_TOKEN_EXPIRES_IN=30d

#SMTP
MAIL_DRIVER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SENDER=
MAIL_SECURE=false